.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 3px dotted rgb(16, 238, 68);
}

.bookings {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 3px dotted rgb(16, 238, 68);
    font-size: 2rem; 
}

.title {
    text-align: center;
    font-size: 4rem;
}